/* crafty-girls-regular - latin */

  @font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url("../device/fonts/web/gilroylight.woff") format("woff");
  }
  @font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: url("../device/fonts/web/gilroyextrabold.woff") format("woff");
  }
  @font-face {
    font-family: 'Open Sans';
    font-weight:400;
    src: url("../device/fonts/web/opensans.woff") format("woff");
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color:black;    
    margin: 0;
    padding: 0;
    
    
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.main-page {
    
}
.main-header{
   
}
/* MENU*/
.main-navigation{
    background-color: #f7e296;
}
.main-header-logo{

}
.input-search{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: lighter;
}
.button-search{

}
.user-nav-list{

}
.user-nav-list a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: #000;
}
.user-nav-list-item{

}
.main-navigation{

}
.main-navigation-item a {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
}
.submain-catalog {
}
.submain-catalog-item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: lighter;
}
/* MAIN*/

.container {

}
.about-us {
   
}
.about-us h2 {

    font-family: 'Gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000;
}
.about-us p {  
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}
.about-us li {  
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    color: #000;
    list-style-type: circle;
}
.about-us a {  
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
    text-decoration: line-through yellow;
    
}

/* модальное окно*/
.modal-map {
    display: none;
}
.modal-writetous {
    display: none;
}

/* MAIN*/

