/* crafty-girls-regular - latin */

  @font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src: url("../device/fonts/web/gilroylight.woff") format("woff");
  }
  @font-face {
    font-family: 'Gilroy';
    font-weight: 800;
    src: url("../device/fonts/web/gilroyextrabold.woff") format("woff");
  }
  @font-face {
    font-family: 'Open Sans';
    font-weight:400;
    src: url("../device/fonts/web/opensans.woff") format("woff");
  }

*, *::after, *::before {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color:black;    
    margin: 0;
    padding: 0;
    
    
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.main-page {
    
}

/* кнопка с зачеркиванием*/
.btn-line-through {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
}
.btn-line-through::before {
    content: "подробнее о нас";   
    height: 8px;
    width: inherit;
    display: inline-block;
    background-color: #ffcc33; 
}

/* MENU*/
.main-header {
    /* Временно для сетки  */
     min-height: 340px;
 }
.main-navigation {
    display: flex;
    width: 1160px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: column;
    
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;

    min-height: 320px;
    background-color: #f7e296;
}
 .main-header-logo {
    width: 165px;
    height: 36px;
    /* Временно для сетки  */
    display: block;
 }
 .main-search {
     /* Временно для сетки  */
     width: 540px;
     min-height: 30px;
 }
 .user-navigation {
    width: 500px;
    margin: 0px;
    padding: 0px;

    list-style: none;
    /* Временно для сетки  */
    min-height: 30px;
 }


.user-navigation-wrapper {
     display: flex;
     justify-content: space-between;
 }

 .user-navigation-wrapper .user-navigation {
     display: flex;
     justify-content: space-between;
 }

.site-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    /* Временно для сетки  */
    min-height: 150px;
}
.main-navigation-item:nth-child(1) {
    width: 540px;
}
.main-navigation-item:nth-child(2) {
    width: 160px;
}
.main-navigation-item:nth-child(3) {
    width: 220px;
}
.main-navigation-item:nth-child(4) {
    width: 120px;
}
.input-search{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: lighter;
}
.button-search{

}

.user-navigation a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #000;
}
.user-navigation a:hover,:focus
{ 
    opacity: 0.6;
}
.user-navigation a:active
{ 
    opacity: 0.3;
}
.catalog-header a:hover,:focus {
    opacity: 0.6;
}
.catalog-header a:active {
    opacity: 0.3;
}
.site-navigation a:hover,:focus {
    opacity: 0.6;
}
.site-navigation a:active {
    opacity: 0.3;
}
.user-navigation-item{

}

.main-navigation-item a {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
}
.submain-catalog {
}
.submain-catalog-item a {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: lighter;
}
/* MAIN*/

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
/*О нас*/
.about-us {
   
}
.about-us h2 {

    font-family: 'Gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000;
}
.about-us p {  
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}
.about-us li {  
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    color: #000;
    list-style-type: circle;
}


/*Контакты*/

.contacts {

}
.contacts h2 {
    font-family: 'Gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000;
}

.contacts p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}


/*Подвал*/
footer {
    background-color: #464646;
}

.contacts-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
}
.centre-footer {

}
.menu-footer {

}
.menu-footer a {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #ffffff;
}
.centre-footer a:hover,:focus {
    opacity: 0.6;
}
.centre-footer  a:active {
    opacity: 0.3;
}
.user-menu-footer a:hover,:focus {
    opacity: 0.6;
}
.user-menu-footer  a:active {
    opacity: 0.3;
}
.footer-logo-catalog:hover,:focus {
    opacity: 0.6;
}
.footer-logo-catalog:active {
    opacity: 0.3;
}
/* социальные сети*/
.social-footer {

}

/* меню пользователя*/
.user-menu-footer {

}
.user-menu-footer a, p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
}
/* модальное окно*/
.modal-map {
    display: none;
}
.modal-writetous {
    display: none;
    color: #ffffff;
    width: 960px;
    height: 550px;
}
.modal-writetous label {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
}
.modal-writetous .button-close {
    
}

/*Catalog*/
.main-catalog h1{
    font-family: 'Gilroy', sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight:bold;
    color: #000;
}
.breadcrumb a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000033;
}

/* Фильтр*/
 .filter-color legend {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
 }
 .filter-color label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: #000;
 }

 .filter-bluetooth legend {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
 }
 .filter-bluetooth label {

 }
.catalog-header {

   font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: #000;
}
.filter-button {
  
} 
/* карточкм каталога*/
.good-item h3 {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
    color: #000;
}
